
body {
	background-color: #332600;
}

#navigation {
	width: 1000px;
	height: 70px;
	font-family: cursive;
	font-size: 1.1em;
	color: red;
	display: inline-block;
	position: relative;
	background-color: #992600;
	text-align: center;
	z-index: 5;
}


a:link {
	text-decoration: none;
	color: #ffffcc;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

a:hover {
	text-decoration: none;
	color: white;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.background-index {
	width: 1000px;
	min-height: 500px; 
	background-image: url(tib_images/tib-Box_Template.jpg);
	background-repeat: repeat-y;
	position: relative;
/*	z-index: -1;*/ 
	margin: auto;
	margin-top: 0px;
}

h1 {
	font-family:Helvetica;
	text-align: center;
/*	width: 220px; */
	height: 65px;
	padding-top: 40px;
	background-color: #ffd24d;
	position: relative;
	margin: auto;
	margin-top: -10px;
	z-index: 1;
}



img {
	border: 1px solid black;
	margin: 5px;
}

/*table {
	width: 500px;
	height: 100px;
	background-color: purple;
	z-index: 1;
}
*/
.tib-form {
	max-width: 500px;
	background-color: #ffd24d;
	border: 2px solid black;
	margin: auto;
	margin-top: 60px;
	padding: 10px 10px 15px 10px;
}

footer {
	width: 1000px;
	height: 70px;
	font-family: Helvetica;
	font-size: 1.1em;
	color: white;
	text-align: center;
	padding-top: 10px;
	background-color: #992600;
	position: relative;
	margin: auto;
	margin-top: -10px;
	z-index: -1;
}

footer span {
	font-size: 1.2em;
	color: yellow;
	padding-right: 5px;
}